.navbar {
  background-color: #848181;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li {
  list-style: none;
  margin-right: 20px;
}

.navbar a {
  color: white;             /* removes blue color */
  text-decoration: none;    /* removes underline */
  font-size: 20px;
  cursor: pointer;
}

.navbar a:hover {
  color: yellow;            /* optional hover effect */
}
